.background {
  viewport-fill: black;
}

#outOfSync {
  x: 15;
  y: 160;
  width: 20;
  height: 26;
}


#temperature {
  font-size: 40;
  font-family: System-Regular;
  text-length: 10;
  text-anchor: middle;
  x: 50%;
  y: 40; 
  fill: white;
}
#day {
  font-size: 40;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 80;
  fill: white;
}

#time {
  font-size: 100;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 165;
  fill: #FFAA00;
}

#date {
  font-size: 40;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 210;
  fill: white;
}

#batteryBox {
  x: 10%;
  width: 80%; 

  y: 235; 
  height: 10;
  fill: #FFAA00; 
}



#steps {
  font-size: 60;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 310;
  fill: white;
}